<link href="~/Resources/Styles/Preprocessors/Pages/cover.css" rel="stylesheet" />
<div class="container cover-body">
    <div class="site-wrapper" style="margin-top: 50px;">
        <div class="site-wrapper-inner">
            <h1 class="cover-heading"></h1>
            <div class="cover-container">
                <div class="inner cover">
                    <h1 class="cover-heading">Khan Construction</h1>
                    <p class="lead">
                        Khan Construction Company is a statewide general contracting firm, specializing in 
                        servicing residential, commercial and industrial turnkey projects. We do it all, 
                        from minor tenant improvements to major ground-up projects. 
                        We base our Finished Product on Quality.Value to the Customer is always stressed at Khan Construction Company. 
                        The backing behind our Guarantee is Experience, twenty-two years’ worth.
                        Our dedicated employees take pride in setting us apart with their commitment to integrity, 
                        professionalism and quality of service. 
                        We are the experts in commercial and retail projects, 
                        whether it’s a small office or new corporate headquarters. 
                        At Khan Construction, we take pride in our work and strive to earn the 
                        privilege of your business every step of the way. It’s that simple.
                    </p>
                    <p class="lead">
                        <a href="~/Home/Index" class="btn btn-lg btn-cover">Learn more</a>
                    </p>
                </div>
                <div class="mastfoot">
                    <div class="inner">
                        <p>Cover template for <a href="https://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo"></a>.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    html,
    body {
        height: 100%;
        background-color: #334;
        color: #fff;
    }
    .navbar{
        background-color: #334;
    }
    .navbar-light .navbar-brand,
    .navbar-light .navbar-toggler,
    .navbar-light .navbar-nav .open > .nav-link, 
    .navbar-light .navbar-nav .active > .nav-link,
    .navbar-light .navbar-nav .nav-link.open,
    .navbar-light .navbar-nav .nav-link {
        color: #fff;
    }
        .navbar-light .navbar-nav .nav-link:focus,
        .navbar-light .navbar-nav .nav-link:hover {
            color:bisque;
        }
</style>
