<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="~/Resources/Styles/site.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    @{  Html.RenderAction("Index","_MenuPartial"); }

    @RenderBody()

    @{ Html.RenderPartial("~/Views/Shared/_footer.cshtml"); }

    <!-- Bootstrap JS and other libs(Kept in body to avoid performance overload)-->
    <script src="~/Resources/Scripts/lib/jquery-3.2.1/jquery-3.2.1.min.js"></script>
    <script src="~/Resources/Scripts/lib/tether/tether.js"></script>
    <script src="~/Resources/Scripts/lib/BootStrap/js/bootstrap.min.js"></script>
</body>
</html>
