<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBag.Title</title>
    <link href="~/Styles/reset.css" rel="stylesheet" />
</head>
<body>
    @{  Html.RenderPartial("~/Views/Shared/_menu.cshtml"); }
    <div class="content-body">
        @RenderBody()
    </div>
    @{ Html.RenderPartial("~/Views/Shared/_footer.cshtml"); }
</body>
</html>
<style>
    .content-body {
        height: 400px;
        background-color: white;
    }
</style>
