<div class="footer">
    <div class="right">
    </div>
    <div class="left">
    </div>
</div>

<style>
    .footer {
        height: 256px;
        background-color: #f9fbfb;
    }

        .footer .right {
            background-color: red;
            width: 50%;
            height: 256px;
            display: inline-block;
            float: right;
        }

        .footer .left {
            background-color: blue;
            width: 50%;
            height: 256px;
            display: inline-block;
            float: left;
        }
</style>
