<div class="menu">
    <nav>
        <div class="nav-left">
            <ul>
                <li>
                    <img class="logo" src="~/Images/default-logo.png" /></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="nav-right">
            <ul>
                <li><a href="#">Search</a></li>
                <li><a href="#">SignIn</a></li>
            </ul>
        </div>
    </nav>
</div>

<style>
    .menu {
        height: 60px;
        background-color: #f9fbfb;
        padding: 0 1.3em;
    }

    nav {
        height: 60px;
    }

    .nav-left {
        display: inline-block;
        float: left;
    }

    .nav-right {
        display: inline-block;
        float: right;
    }

    .nav-left ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 60px;
    }

    li {
        float: left;
        height: 60px;
    }

        li a {
            display: block;
            color: #666;
            text-align: center;
            padding: 0px 16px;
            text-decoration: none;
            line-height: 60px;
            font-family: 'Open Sans',sans-serif;
        }

    .logo {
        width: 136px;
        padding-top: 17px;
        padding-right: 18px;
    }

    .nav-right ul {
        float: right;
    }
</style>
