@using Canary.Common.CustomConfiguration.Menu;
@model MenuElementCollection

<nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        @*<img src="~/CustomerSpecific/KHAN/Images/logo.png" />*@
        Khan Constructions
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            @foreach (MenuElement menu in Model)
            {
                <li class="nav-item @(@menu.IsActive ? "active" : string.Empty)">
                    <a class="nav-link" href="@menu.MenuSrc">@menu.Name<span class="sr-only">(current)</span></a>
                </li>
            }
        </ul>
        <div class="search-box">
            <form class="form-inline my-2 my-lg-0" style="display: none;">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
